.circle:hover{
  stroke: black;
  stroke-width: 4px;
}
html {
  background-color: white;
}

#d3_wrapper .bar text {
  fill:white;
}

.chart text {
  fill: #6f7f87;
  font: 10px sans-serif;
  text-anchor: end;
  font-weight: bold;
}

.axis path,
.axis line {
stroke: #000;
shape-rendering: crispEdges;
}

.Random_bar {
fill: #14a7e1;
stroke:#022330;
}
.Random_bar:hover {
fill: #13495d;
}
