.circle:hover{
  
  stroke: black;
  stroke-width: 4px;
}
html {
  background-color: white;
}

#d3_wrapper .bar text {
  fill:white;
}

.chart text {
  fill: #6f7f87;
  font: 12px sans-serif;
  font-weight: bold;
}
.axis path,
.axis line {
stroke: #000;
shape-rendering: crispEdges;
}
.Return_Button:hover {
  cursor: pointer;
}
.Random_bar {
stroke:#022330;
font-weight: bold;
text-align: center;
}
.Random_bar:hover {
  fill: #13495d;
}
